body{
    background-color: black;
    background-image: url(call-of-duty-mobile.jpg);
    background-repeat: no-repeat;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    background-attachment: fixed;
    font-family: 'Lato', sans-serif;
}
/*h1{
    font-weight: 900;
    font-size: 270%;
    text-align: center;
    color: black;
    text-shadow: 1px  0px 0px white,
                 0px  1px 0px white,
                 -1px  0px 0px white,
                 0px -1px 0px white;
}*/
h2{
    background: white;
    border-radius: 10px;
    font-weight: 400;
    color: black;
}
h3{
    font-weight: 300;
    font-size: 190%;
    color: white;
    text-align: center;
}
h4{
    font-weight: 300;
    font-size: 130%;
    color: white;
    text-align: center;
}
h5{
    font-weight: 300;
    font-size: 200%;
    color: white;
    text-align: center;
}
p{
    font-weight: 300;
    color: white;
}
.container{
    margin: 0 auto;
    width: 90%;
}
.flex{
    display: flex;
    flex-wrap: wrap;
}
.text-center{
    text-align: center;
}
.columna{
    background: black;
    color: #333;
    border: 1px solid white;
    margin: 0 auto;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 10px 10px 5px yellow;
    width: 23%;
    box-sizing: border-box;
}
.precio{
    font-size: 150%;
    color: yellow;
}
.btn-precio{
    background: yellow;
    display: block;
    padding: 10px;
    color: black;
    text-decoration: none;
    border-radius: 3px;
    margin-bottom: 16px;
}
.btn-precio:hover{
    background: gray;
}

@media (max-width: 1070px){
    .columna{
        width: 45%;
        margin-bottom: 20px;
    }
}
@media (max-width: 600px){
    .columna{
        width: 100%;
        margin-bottom: 20px;
    }
}